<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% for(let i=1; i<=totalPages; i++){
                        let active='', href='';
                        if(i===page){
                            active = 'active';
                        } else {
                            href = 'href="/address-book/' + i +'"';
                        }
                    %>
                    <li class="page-item <%= active %>">
                        <a class="page-link" <%- href %> ><%= i %></a>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>


    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col"><i class="fas fa-edit"></i></th>
            <th scope="col">#</th>
            <th scope="col">姓名</th>
            <th scope="col">電郵</th>
            <th scope="col">手機</th>
            <th scope="col">生日</th>
            <th scope="col">住址</th>
            <th scope="col"><i class="fas fa-trash-alt"></i></th>
        </tr>
        </thead>
        <tbody>
        <% for(let item of rows){ %>
        <tr>
            <td>
                <a href="/address-book/edit/<%= item.sid %>">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td><%= item.sid %></td>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
            <td><%= item.mobile %></td>
            <td><%= item.birthday %></td>
            <td><%= item.address %></td>
            <td>
                <a class="del-a-tag" href="/address-book/delete/<%= item.sid %>"
                   data-sid="<%= item.sid %>">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>

    <script>
        $('.del-a-tag').on('click', function(event){
            if(! confirm('是否要刪除資料?')){
                event.preventDefault();
            }
        })


        function delete_it(sid){
            if(confirm(`是否要刪除編號為 ${sid} 的資料?`)){
                location.href = '/address-book/delete/'+sid;
            }
        }


    </script>
</div>
<%- include('../parts/html-foot') %>